#home {
    width: 100% !important;
    background-color: black;
    color: white;
}

#homeCol {
    /* background-color: black; */
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url('../../images/graffiti.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: '-1';
    height: 70vh;
    width:100vw;
}

#mainPic {
    object-fit: cover;
    position: center;
    height: 450px;
}